h1 {
  font-size: 40pt; }

h2 {
  font-size: 30pt; }

h3 {
  font-size: 28pt; }

h4 {
  font-size: 24pt; }

.lead {
  font-size: 24pt; }

@media screen and (max-width: 1279px) {
  article {
    width: 100%;
    font-size: 18px; } }
@media screen and (min-width: 1280px) and (max-width: 1365px) {
  article {
    /* 93.7% of 1366px */
    width: 60%;
    font-size: 24px; } }
@media screen and (min-width: 1366px) and (max-width: 1599px) {
  article {
    /* 85.4% of 1600px */
    width: 60%;
    font-size: 26px; } }
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  article {
    /* 83.3% of 1920px */
    width: 60%;
    font-size: 30px; } }
@media screen and (min-width: 1920px) {
  article {
    width: 60%;
    font-size: 36px; } }

@media screen and (max-width: 1279px) {
  aside {
    display: none; } }
@media screen and (min-width: 1280px) and (max-width: 1365px) {
  aside {
    /* 93.7% of 1366px */
    padding: 12px 11px 17px 11px;
    border-radius: 14px; }
    aside #word {
      font-size: 32px; }
    aside #ipa {
      font-size: 19px; }
    aside button {
      font-size: 20px; } }
@media screen and (min-width: 1366px) and (max-width: 1599px) {
  aside {
    /* 85.4% of 1600px */
    padding: 13px 12px 18px 12px;
    border-radius: 15px; }
    aside #word {
      font-size: 34px; }
    aside #ipa {
      font-size: 20px; }
    aside button {
      font-size: 21px; } }
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  aside {
    /* 83.3% of 1920px */
    padding: 15px 13px 21px 13px;
    border-radius: 17px; }
    aside #word {
      font-size: 40px; }
    aside #ipa {
      font-size: 23px; }
    aside button {
      font-size: 25px; } }
@media screen and (min-width: 1920px) {
  aside {
    padding: 18px 16px 25px 16px;
    border-radius: 20px; }
    aside #word {
      font-size: 48px; }
    aside #ipa {
      font-size: 28px; }
    aside button {
      font-size: 30px; } }

* {
  box-sizing: border-box; }

body {
  background-color: #141414;
  color: #efeede;
  font-family: "Open Sans", sans-serif;
  padding: 4%; }

#container {
  position: relative; }

article {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-bottom: 5em; }
  article p {
    line-height: 1.5em; }

aside {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 38%;
  text-align: center;
  background-color: #202020;
  border: 2px solid #202020; }

fieldset {
  position: relative;
  border: 2px solid #202020;
  margin-bottom: 20px; }

fieldset.header {
  background-color: #2A2A2A;
  padding-top: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }

fieldset:last-child {
  text-align: right; }
  fieldset:last-child #save {
    display: none; }

legend {
  display: none; }

input[type="text"] {
  text-align: center;
  border: none;
  background-color: transparent;
  width: 75%; }

#word {
  margin-bottom: 10px; }

#ipa {
  font-family: "Roboto Mono", monospace;
  display: none; }

#lexical-category {
  display: none; }

#translation {
  display: none; }

input {
  color: #efeede; }

input:hover {
  color: white;
  cursor: pointer; }

input:focus, textarea:focus {
  border-bottom: 2px dashed #404040;
  color: #efeede; }

::selection {
  background-color: #FF2f3a;
  color: #efeede; }

*:focus {
  outline: none; }

#fieldsets fieldset[data-selected='yes'] button:only-child {
  background-color: #808080; }

article span {
  border-radius: 5px;
  cursor: pointer; }

button.none {
  background-color: #202020;
  cursor: default; }

button.action {
  background-color: #2A2A2A; }

aside form {
  /* NOTE: The style attribute content has to match precisely! */ }
  aside form button:first-child {
    border-left-width: 0px; }
  aside form button:last-child {
    border-right-width: 0px; }
  aside form button[style*="width: 100%;"], aside form button[style*="width: 0%;"] {
    border-left-width: 0px;
    border-right-width: 0px; }
  aside form div[style*="height: 0px;"] button {
    border-top-width: 0px;
    border-bottom-width: 0px; }

.col-1 {
  padding: 0px;
  background-color: #202020; }
  .col-1 div {
    height: 60px;
    white-space: nowrap;
    overflow: hidden; }
    .col-1 div button {
      cursor: pointer;
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      font-family: "Roboto Mono", monospace;
      font-variant: small-caps;
      border-width: 2px;
      border-style: solid;
      border-color: #202020;
      border-collapse: collapse;
      padding-bottom: 5px;
      color: #efeede; }

.col-2 {
  padding: 0px;
  background-color: #202020; }
  .col-2 div {
    height: 60px;
    white-space: nowrap;
    overflow: hidden; }
    .col-2 div button {
      cursor: pointer;
      position: relative;
      width: 50%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      font-family: "Roboto Mono", monospace;
      font-variant: small-caps;
      border-width: 2px;
      border-style: solid;
      border-color: #202020;
      border-collapse: collapse;
      padding-bottom: 5px;
      color: #efeede; }

.col-3 {
  padding: 0px;
  background-color: #202020; }
  .col-3 div {
    height: 60px;
    white-space: nowrap;
    overflow: hidden; }
    .col-3 div button {
      cursor: pointer;
      position: relative;
      width: 33.33333%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      font-family: "Roboto Mono", monospace;
      font-variant: small-caps;
      border-width: 2px;
      border-style: solid;
      border-color: #202020;
      border-collapse: collapse;
      padding-bottom: 5px;
      color: #efeede; }

/*# sourceMappingURL=style.css.map */
