h1 {
  font-size: 40pt; }

h2 {
  font-size: 30pt; }

h3 {
  font-size: 28pt; }

h4 {
  font-size: 24pt; }

.lead {
  font-size: 24pt; }

@media screen and (max-width: 767px) {
  article {
    font-size: 18pt; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  article {
    font-size: 20pt; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  article {
    font-size: 22pt; } }
@media screen and (min-width: 1200px) {
  article {
    font-size: 24pt; } }

@media screen and (max-width: 767px) {
  aside {
    display: none; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  aside {
    display: none; } }

* {
  box-sizing: border-box; }

body {
  background-color: #141414;
  color: #efeede;
  font-family: "Open Sans", sans-serif;
  padding: 4%; }

#container {
  position: relative; }

article {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60%;
  padding-bottom: 150px; }

aside {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 38%;
  padding: 18px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #202020;
  border: 2px solid #202020;
  border-radius: 20px; }

fieldset {
  position: relative;
  background-color: #2A2A2A;
  border: 2px solid #202020;
  margin-bottom: 20px;
  padding: 18px; }

fieldset:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }

input[type="text"] {
  text-align: center;
  border: none;
  background-color: transparent;
  width: 75%; }

#word {
  font-size: 40pt;
  margin-bottom: 10px; }

#ipa {
  font-family: "Roboto Mono", monospace;
  font-size: 24pt; }

input {
  color: #efeede; }

input:hover {
  color: white;
  cursor: pointer; }

input:focus, textarea:focus {
  border-bottom: 2px dashed #efeede;
  color: #efeede; }

::selection {
  background-color: #FF2f3a;
  color: #efeede; }

*:focus {
  outline: none; }

article span {
  padding: 0px 6px;
  border-radius: 8px;
  cursor: pointer; }

#lexicalCategory {
  padding: 0px;
  background-color: #202020; }
  #lexicalCategory div {
    height: 60px;
    white-space: nowrap;
    overflow: hidden; }
    #lexicalCategory div button {
      cursor: pointer;
      position: relative;
      width: 33.33333%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      font-family: "Roboto Mono", monospace;
      font-size: 20pt;
      font-variant: small-caps;
      border-width: 0px;
      border-style: solid;
      border-color: #202020;
      border-collapse: collapse;
      padding-bottom: 5px;
      color: #efeede; }

#gender {
  padding: 0px;
  background-color: #202020; }
  #gender div {
    height: 60px;
    white-space: nowrap;
    overflow: hidden; }
    #gender div button {
      cursor: pointer;
      position: relative;
      width: 33.33333%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      font-family: "Roboto Mono", monospace;
      font-size: 20pt;
      font-variant: small-caps;
      border-width: 0px;
      border-style: solid;
      border-color: #202020;
      border-collapse: collapse;
      padding-bottom: 5px;
      color: #efeede; }

#number {
  padding: 0px;
  background-color: #202020; }
  #number div {
    height: 60px;
    white-space: nowrap;
    overflow: hidden; }
    #number div button {
      cursor: pointer;
      position: relative;
      width: 50%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      font-family: "Roboto Mono", monospace;
      font-size: 20pt;
      font-variant: small-caps;
      border-width: 0px;
      border-style: solid;
      border-color: #202020;
      border-collapse: collapse;
      padding-bottom: 5px;
      color: #efeede; }

#countableUncountable {
  padding: 0px;
  background-color: #202020; }
  #countableUncountable div {
    height: 60px;
    white-space: nowrap;
    overflow: hidden; }
    #countableUncountable div button {
      cursor: pointer;
      position: relative;
      width: 50%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      font-family: "Roboto Mono", monospace;
      font-size: 20pt;
      font-variant: small-caps;
      border-width: 0px;
      border-style: solid;
      border-color: #202020;
      border-collapse: collapse;
      padding-bottom: 5px;
      color: #efeede; }

#concreteAbstract {
  padding: 0px;
  background-color: #202020; }
  #concreteAbstract div {
    height: 60px;
    white-space: nowrap;
    overflow: hidden; }
    #concreteAbstract div button {
      cursor: pointer;
      position: relative;
      width: 50%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      font-family: "Roboto Mono", monospace;
      font-size: 20pt;
      font-variant: small-caps;
      border-width: 0px;
      border-style: solid;
      border-color: #202020;
      border-collapse: collapse;
      padding-bottom: 5px;
      color: #efeede; }

#commonProper {
  padding: 0px;
  background-color: #202020; }
  #commonProper div {
    height: 60px;
    white-space: nowrap;
    overflow: hidden; }
    #commonProper div button {
      cursor: pointer;
      position: relative;
      width: 50%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      font-family: "Roboto Mono", monospace;
      font-size: 20pt;
      font-variant: small-caps;
      border-width: 0px;
      border-style: solid;
      border-color: #202020;
      border-collapse: collapse;
      padding-bottom: 5px;
      color: #efeede; }

.button-row {
  text-align: right; }
  .button-row button {
    cursor: pointer;
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0px;
    font-family: "Roboto Mono", monospace;
    font-size: 20pt;
    font-variant: small-caps;
    border: 2px solid #202020;
    padding-bottom: 5px;
    color: #efeede; }
  .button-row button:hover {
    background-color: #2A2A2A;
    border: 2px solid #2A2A2A; }

/*# sourceMappingURL=style.css.map */
