$color-almost-black: #141414;
$color-almost-white: #efeede;
$color-dark-gray: #202020;
$color-desaturated-green: #849d6a;
$color-desaturated-purple: #957f90;
$color-desaturated-red: #ce6747;
$color-gray: #404040;
$color-sand: #e0b570;
$color-wet-sand: #aa8557;

// MS Essential
$color-essential-beige: #c8c8b1;
$color-essential-beige-darker: #b4b392;
$color-essential-gray-blue: #989aac;
$color-essential-blue: #526db0;
$color-essential-yellow: #f5c201;
$color-essential-orange: #dc5924;
$color-essential-red: #FF2f3a;
