.default {
    $color: hsla(0, 0%, 16%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 5%);
    }
}
.transparent {
    background-color: hsla(0, 0%, 0%, 0);
}
.noun {
    $color: hsla(240, 20%, 20%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 5%);
    }
}
.noun-unselected {
    $color: hsla(240, 10%, 18%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 4%);
    }
}
.verb {
    $color: hsla(120, 20%, 20%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 5%);
    }
}
.verb-unselected {
    $color: hsla(120, 10%, 18%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 4%);
    }
}
.adjective {
    $color: hsla(0, 20%, 20%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 5%);
    }
}
.adjective-unselected {
    $color: hsla(0, 10%, 18%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 4%);
    }
}
.pronoun {
    $color: hsla(180, 20%, 20%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 5%);
    }
}
.pronoun-unselected {
    $color: hsla(180, 10%, 18%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 4%);
    }
}
.adverb {
    $color: hsla(60, 20%, 20%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 5%);
    }
}
.adverb-unselected {
    $color: hsla(60, 10%, 18%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 4%);
    }
}
.determiner {
    $color: hsla(300, 20%, 20%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 5%);
    }
}
.determiner-unselected {
    $color: hsla(300, 10%, 18%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 4%);
    }
}
.preposition {
    $color: hsla(0, 5%, 20%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 5%);
    }
}
.preposition-unselected {
    $color: hsla(0, 5%, 18%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 4%);
    }
}
.conjugation {
    $color: hsla(0, 5%, 20%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 5%);
    }
}
.conjugation-unselected {
    $color: hsla(0, 5%, 18%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 4%);
    }
}
.interjection {
    $color: hsla(0, 5%, 20%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 5%);
    }
}
.interjection-unselected {
    $color: hsla(0, 5%, 18%, 1);
    background-color: $color;
    &:hover {
        background-color: lighten($color, 4%);
    }
}
