@import 'colors';
@import 'fonts';
@import 'mixins';

article {
    @media screen and (max-width: 1279px) {
        width: 100%;
        font-size: 18px;
    }
    @media screen and (min-width: 1280px) and (max-width: 1365px) {
        /* 93.7% of 1366px */
        width: 60%;
        font-size: 24px;
    }
    @media screen and (min-width: 1366px) and (max-width: 1599px) {
        /* 85.4% of 1600px */
        width: 60%;
        font-size: 26px;
    }
    @media screen and (min-width: 1600px) and (max-width: 1919px) {
        /* 83.3% of 1920px */
        width: 60%;
        font-size: 30px;
    }
    @media screen and (min-width: 1920px) {
        width: 60%;
        font-size: 36px;
    }
}

aside {
    @media screen and (max-width: 1279px) {
        display: none;
    }
    @media screen and (min-width: 1280px) and (max-width: 1365px) {
        /* 93.7% of 1366px */
        padding: 12px 11px 17px 11px;
        border-radius: 14px;
        #word {
            font-size: 32px;
        }
        #ipa {
            font-size: 19px;
        }
        button {
            font-size: 20px;
        }
    }
    @media screen and (min-width: 1366px) and (max-width: 1599px) {
        /* 85.4% of 1600px */
        padding: 13px 12px 18px 12px;
        border-radius: 15px;
        #word {
            font-size: 34px;
        }
        #ipa {
            font-size: 20px;
        }
        button {
            font-size: 21px;
        }
    }
    @media screen and (min-width: 1600px) and (max-width: 1919px) {
        /* 83.3% of 1920px */
        padding: 15px 13px 21px 13px;
        border-radius: 17px;
        #word {
            font-size: 40px;
        }
        #ipa {
            font-size: 23px;
        }
        button {
            font-size: 25px;
        }
    }
    @media screen and (min-width: 1920px) {
        padding: 18px 16px 25px 16px;
        border-radius: 20px;
        #word {
            font-size: 48px;
        }
        #ipa {
            font-size: 28px;
        }
        button {
            font-size: 30px;
        }
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: $color-almost-black;
    color: $color-almost-white;
    font-family: $font-modern;
    padding: 4%;
}

#container {
    position: relative;
}

article {
    position: absolute;
    left: 0px;
    top: 0px;
    padding-bottom: 5em;
    p {
        line-height: 1.5em;
    }
}

aside {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 38%;
    text-align: center;
    background-color: $color-dark-gray-1;
    border: 2px solid $color-dark-gray-1;
}

fieldset {
    position: relative;
    border: 2px solid $color-dark-gray-1;
    margin-bottom: 20px;
}

fieldset.header {
    background-color: $color-dark-gray-2;
    padding-top: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

fieldset:last-child {
    text-align: right;
    #save {
        display: none;
    }
}

legend {
    display: none;
}

input[type="text"] {
    text-align: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 75%;
}

#word {
    margin-bottom: 10px;
}

#ipa {
    font-family: $font-monospace;
    display: none;
}

#lexical-category {
    display: none;
}

#translation {
    display: none;
}

input {
    color: $color-almost-white;
}

input:hover {
    color: white;
    cursor: pointer;
}

input:focus, textarea:focus {
    border-bottom: 2px dashed $color-gray;
    color: $color-almost-white;
}

::selection {
    background-color: $color-essential-red;
    color: $color-almost-white;
}

*:focus {
    outline: none;
}

#fieldsets fieldset[data-selected='yes'] button:only-child {
    background-color: #808080;
}

article span {
    border-radius: 5px;
    cursor: pointer;
}

button.none {
    background-color: $color-dark-gray-1;
    cursor: default;
}

button.action {
    background-color: $color-dark-gray-2;
}

@mixin button-text {
    font-family: $font-monospace;
    font-variant: small-caps;
}

@mixin button-border {
    border-width: 2px;
    border-style: solid;
    border-color: $color-dark-gray-1;
    border-collapse: collapse;
}

aside {
    form {
        button:first-child {
            border-left-width: 0px;
        }
        button:last-child {
            border-right-width: 0px;
        }
        /* NOTE: The style attribute content has to match precisely! */
        button[style*="width: 100%;"], button[style*="width: 0%;"] {
            border-left-width: 0px;
            border-right-width: 0px;
        }
        div[style*="height: 0px;"] button {
            border-top-width: 0px;
            border-bottom-width: 0px;
        }
    }
}

@mixin fieldsetHandler($columns) {
    padding: 0px;
    background-color: $color-dark-gray-1;
    div {
        height: 60px;
        white-space: nowrap;
        overflow: hidden;
        button {
            cursor: pointer;
            position: relative;
            width: (100% / $columns);
            height: 100%;
            margin: 0px;
            padding: 0px;
            @include button-text;
            @include button-border;
            padding-bottom: 5px;
            color: $color-almost-white;
        }
    }
}

.col-1 { @include fieldsetHandler(1); }
.col-2 { @include fieldsetHandler(2); }
.col-3 { @include fieldsetHandler(3); }
