@import 'colors';
@import 'fonts';
@import 'mixins';

article {
    @media screen and (max-width: 767px) {
        font-size: $default-font-size + 0pt;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: $default-font-size + 2pt;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: $default-font-size + 4pt;
    }
    @media screen and (min-width: 1200px) {
        font-size: $default-font-size + 6pt;
    }
}

aside {
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
        display: none;
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {

    }
    @media screen and (min-width: 1200px) {

    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: $color-almost-black;
    color: $color-almost-white;
    font-family: $font-modern;
    padding: 4%;
}

#container {
    position: relative;
}

article {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60%;
    padding-bottom: 150px;
}

aside {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 38%;
    padding: 18px;
    padding-bottom: 25px;
    text-align: center;
    background-color: $color-dark-gray-1;
    border: 2px solid $color-dark-gray-1;
    border-radius: 20px;
}

fieldset {
    position: relative;
    border: 2px solid $color-dark-gray-1;
    margin-bottom: 20px;
}

fieldset.header {
    background-color: $color-dark-gray-2;
    padding-top: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

input[type="text"] {
    text-align: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 75%;
}

#word {
    font-size: 40pt;
    margin-bottom: 10px;
}

#ipa {
    font-family: $font-monospace;
    font-size: 24pt;
}

input {
    color: $color-almost-white;
}

input:hover {
    color: white;
    cursor: pointer;
}

input:focus, textarea:focus {
    border-bottom: 2px dashed $color-gray;
    color: $color-almost-white;
}

::selection {
    background-color: $color-essential-red;
    color: $color-almost-white;
}

*:focus {
    outline: none;
}

article span {
    padding: 0px 6px;
    border-radius: 8px;
    cursor: pointer;
}

@mixin button-text {
    font-family: $font-monospace;
    font-size: 20pt;
    font-variant: small-caps;
}

@mixin button-border {
    border-width: 0px;
    border-style: solid;
    border-color: $color-dark-gray-1;
    border-collapse: collapse;
}

@mixin fieldsetHandler($columns) {
    padding: 0px;
    background-color: $color-dark-gray-1;
    div {
        height: 60px;
        white-space: nowrap;
        overflow: hidden;
        button {
            cursor: pointer;
            position: relative;
            width: (100% / $columns);
            height: 100%;
            margin: 0px;
            padding: 0px;
            @include button-text;
            @include button-border;
            padding-bottom: 5px;
            color: $color-almost-white;
        }
    }
}

.col-1 { @include fieldsetHandler(1); }
.col-2 { @include fieldsetHandler(2); }
.col-3 { @include fieldsetHandler(3); }
